doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no")
        //- link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="/css/bootstrap-darkly.min.css")
        link(rel="stylesheet" href="/css/style.css")
        script(defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
        link(rel="stylesheet" href="/css/toast.css")

        title= siteTitle
    body
        nav.navbar.navbar-expand-md.navbar-light.bg-light
            button(type="button" id="sidebarCollapse" class="btn btn-info")
                i.fas.fa-align-left
            a(class="navbar-brand mx-auto" href="/") DailyTrack
        .wrapper
            nav#sidebar
                block sidebar
                    each item in nav
                        if item.active
                            a.nav-link.active(href=item.href)= item.title
                        else
                            a.nav-link(href=item.href)= item.title
            #content
                block content

                script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
                script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
                script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous")
                script(src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous")
                //- script(src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8")
                script(src="/js/bundle.js")

        block pagescript


            //- nav.navbar.navbar-expand-md.navbar-light.bg-light
            //-     a(class="navbar-brand" href="/") DailyTrack
            //-     button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation")
            //-         span.navbar-toggler-icon

            //-     #navbarColor03.collapse.navbar-collapse
            //-         ul.navbar-nav.mr-auto
            //-             each item in nav
            //-                 li.nav-item
            //-                     if item.active
            //-                         a.nav-link.active(href=item.href)= item.title
            //-                     else
            //-                         a.nav-link(href=item.href)= item.title

                    //- <form class="form-inline my-2 my-lg-0">
                    //- <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    //- <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    //- </form>

                    
