extends layout

block content
    .row.flex-expand
        .col.h-100
            p message:
            pre.bg-secondary= error.message
            p status:
            pre.bg-secondary= error.status
            p stack:
            pre.bg-secondary= error.stack
            p path:
            pre.bg-secondary= error.path
            p stringify on error:
            pre.bg-secondary= JSON.stringify(error)
