extends layout

block content
    if labels
        ul
            each label in labels
                li
                    a.h4(href="/multi/" + label)= label
    else
        - var ids = [];
        each set, i in datasets
            - ids.push(set._id)
        #multi.module-chart-detail.d-flex.flex-column.flex-expand.p-0(data-ids=JSON.stringify(ids))

        //- #detail-container.container-fluid.p-0
        //-     .row.m-0
        //-             .col-12.p-0
        //-                 .module-chart-detail(id="multi" data-ids=JSON.stringify(ids))

    include modals/datapoint-form

block pagescript
    script(src=webpack_asset('vendors-chart', 'js'))
    script(src=webpack_asset('multi', 'js'))